<h3>Hello <%= rawnet_admin_user %></h3>
<div id="dashboardNav">
  <div class="well well-sm">
    <%= link_to "#contentNav", { class: 'btn btn-primary' } do %>
    <%= image_tag "rawnet_admin/adminIcon.png" %>
    Content Management
    <% end %>
  </div>
</div>
