<ul class="actions">
  <li>
    <%= link_to 'View Main Site', main_app.root_url, class: 'view-site' %>
  </li>
  <% if content_for?(:search) %>
  <li>
    <%= link_to "Search #{resource_class.to_s.titleize.pluralize}", '#searchControl', class: 'search' %>
  </li>
  <% end %>
  <li>
    <%= link_to "Log out #{rawnet_admin_user}", main_app.logout_path, method: :delete, class: 'logout' %>
  </li>
  <li>
    <%= link_to "http://www.rawnet.com", class: "rawnet" do %>
    Built with <span class="heart">love</span> by <span class="rawnet">Rawnet</span>
    <% end %>
  </li>
</ul>
