<nav role="navigation">
  <ul id="mainNav">
    <li>
      <%= link_to "#contentNav" do %>
      <%= image_tag "rawnet_admin/adminIcon.png" %>
      Content Management
      <% end %>
    </li>
  </ul>
</nav>
