<section id="searchControl">
  <form action="" method="GET">
    <input type="text" name="keywords" placeholder="Type to search..." id="search_term" />
  </form>
  <p>Begin typing your search above and press Enter to search. Press ESC to cancel.</p>
</section>
