<section id="searchControl">
  <form action="" method="GET">
    <input type="text" name="by_name" placeholder="Type to search..." id="search_term" />
    <input type="hidden" name="published" value="<%= params[:published] || false %>" id="search_published" />
  </form>
  <p>Begin typing your search above and press Enter to search. Press ESC to cancel.</p>
</section>
